.advantages {
    padding: 12.1rem 0 0 0;
    border-bottom: 1px solid #808080;
    // .advantages__container

    &__container {
    }

    // .advantages__inner

    &__inner {
        display: grid;
        grid-template-columns: 1fr 77.3rem 1fr;
        gap: 0 auto;
        @include small-tablet {
            grid-template-columns: 1fr;
            gap: 4rem;
            justify-content: center;
            padding: 0 0 10rem 0 ;
        }
    }

    // .advantages__left

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 14rem;
    }

    // .advantages__item

    &__item {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 29rem;
        @include small-tablet {
            width: 48rem;
            text-align: center;
            justify-self: center;
        }
    }

    // .advantages__item-title

    &__item-title {
        font-weight: 900;
        font-size: 2rem;
        line-height: 99%;
        @include small-tablet {
            font-size: 3rem;
        }
    }

    // .advantages__item-desc

    &__item-desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        @include small-tablet {
            font-size: 2.4rem;
            line-height: 167%;
        }
    }

    // .advantages__midle

    &__midle {
    }

    // .advantages__img-box

    &__img-box {
        margin-top: -6.6rem;
        width: 77.3rem;
        height: 78.3rem;
        mix-blend-mode: difference;
        grid-column: 2/3;
        grid-row: 1/4;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include small-tablet {
            padding: 14rem 0;
            grid-column: 1/2;
            grid-row: 3/6;
            width: 61.6rem;
            height: 100%;
        }
    }

    // .advantages__img

    &__img {
    }

    // .advantages__right

    &__right {
        display: flex;
        flex-direction: column;
        gap: 14rem;
        justify-content: center;
    }
}
