.faq {
    border-bottom:1px solid #808080;
    // .faq__title-box

    &__title-box {
        display: flex;
        justify-content: center;
    }

    // .faq__title

    &__title {
        font-weight: 900;
        font-size: 5rem;
        line-height: 84%;
    }

    padding: 11rem 0;
    // .faq__inner

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }

    // .faq__title

    &__title {
    }

    // .faq__accordion-wrapper

    &__accordion-wrapper {
        border-radius: 3rem;
        background: $Gray;
        mix-blend-mode: lighten;
    }

    // .faq__accordion

    &__accordion {
        display: flex;
        flex-direction: column;
        padding: 7rem 9rem;
    }

    // .faq__accordion-item

    &__accordion-item {
        border-top: 1px solid;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        &:last-child{
            border-bottom: 1px solid;
        }
    }
    // .faq__accordion-count

    &__accordion-count {
        position: absolute;
        font-family: 'CeraPro';
        font-size: 16rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        top: -1rem;
        left: 3.2rem;
        transition: color 0.3s;
        pointer-events: none;
    }

    // .faq__accordion-item-header

    &__accordion-item-header {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20rem;
        width: 100%;
   
        justify-content: space-between;
        &.active .faq__accordion-title {
            transition: color 0.3s;
            color:#fff;
        }
        &.active + .faq__accordion-item-body {
        }
        &.active .faq__accordion-svg-wrapper {
        }
        &.active .faq__accordion-svg-box {
            transform: rotate(-180deg);
            & svg {
            }
        }
    }

    // .faq__accordion-title

    &__accordion-title {
        padding: 4rem 0;
        color:#7a7f83;;
        font-weight: 900;
        font-size: 20px;
        line-height: 135%;
  
    }

    // .faq__accordion-svg-wrapper
    &__accordion-svg-wrapper {
        width: 6rem;
        height: 6rem;
        transition: background-color 0.3s;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__accordion-svg-box {
        width: 1.6rem;
        height: 1.6rem;
        transition: transform 0.3s;

        & svg {
            object-fit: contain;
            fill: $black;
            stroke: $black;
            transition: fill 0.3s, stroke 0.3s;
        }
    }

    // .faq__accordion-item-body

    &__accordion-item-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s, margin-bottom 0.3s;
        width: 86rem;
        margin-right: 3.2rem;
    }

    // .faq__accordion-item-body-content

    &__accordion-item-body-content {
        width: 54.3rem;
        padding: 1rem 0 2rem 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 125%;
    }
}

@media (max-width: 48em) {
    .faq {
        padding: 15rem 0;
        // .faq__inner

        &__inner {
            display: flex;
            flex-direction: column;
            gap: 8rem;
        }

        // .faq__title

        &__title {
        }

        // .faq__accordion-wrapper

        &__accordion-wrapper {
        }

        // .faq__accordion

        &__accordion {
        }

        // .faq__accordion-item

        &__accordion-item {
            border-radius: 4.8rem;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
        // .faq__accordion-count

        &__accordion-count {
            font-size: 20rem;
            top: -1rem;
            left: 3.2rem;
            transition: color 0.3s, height 0.3s;
            overflow: hidden;
            height: 17.5rem;
        }

        // .faq__accordion-item-header

        &__accordion-item-header {
            padding: 20rem 4rem 4rem 4rem;
            justify-content: space-between;
            gap: 0;
            width: 100%;
            &.active ~ .faq__accordion-count {
                color: $BG;
                height: 20.5rem;
            }
            &.active + .faq__accordion-item-body {
                margin-bottom: 4rem;
            }
            &.active .faq__accordion-title {
                margin-top: 3rem;
            }
            &.active .faq__accordion-svg-box {
            }
        }

        // .faq__accordion-title

        &__accordion-title {
            width: 100%;
            transition: margin-top 0.3s;
        }

        // .faq__accordion-svg-wrapper
        &__accordion-svg-wrapper {
            position: absolute;
            width: 10rem;
            height: 10rem;
            top: 4rem;
            right: 4rem;
        }

        &__accordion-svg-box {
            width: 2.4rem;
            height: 2.4rem;
        }

        // .faq__accordion-item-body

        &__accordion-item-body {
            padding: 0 4rem 0 4rem;
            width: 100%;
        }

        // .faq__accordion-item-body-content

        &__accordion-item-body-content {
        }
    }
}
