.header {

    // .header__container

    &__container {
        padding: 6.8rem 0 0 0;
    }

    // .header__inner

    &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    // .header__logo

    &__logo {
        width: 19.3rem;
        height: 3.4rem;
    }

    // .header__nav-wrapper

    &__nav-wrapper {
    }

    // .header__nav-list

    &__nav-list {
        display: flex;
        gap: 5rem;

    }

    // .header__nav-item

    &__nav-item {
        font-size: 1.7rem;
        transition: color 0.3s;
        &:hover{
            color:$Blue;
        }
    }

    // .header__nav-btn

    &__nav-btn {

    }
}


.burger {
display: none;
    // .burger__line

    &__line {
    }
}
