<section class="advantages">
    <div class="container advantages__container">
        <div class="advantages__inner">
           
                <div class="advantages__item">
                    <div class="advantages__item-title">Сбор авторских
                    </div>
                    <div class="advantages__item-desc">Помогаем артистам и лейблам получать дополнительные вознаграждения от музыкальных площадок.
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__item-title">Гибкость сотрудничества
                    </div>
                    <div class="advantages__item-desc">Идем навстречу нашим партнерам по различным вопросам, касающимся сотрудничества.
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__item-title">Онлайн статистика
                    </div>
                    <div class="advantages__item-desc">Предоставляем онлайн статистику по стримам и продажам ваших треков.
                    </div>
                </div>
            
          
                <div class="advantages__img-box">
                    <img src="../assets/images/advantages-img.png" alt="" class="advantages__img">
                </div>
          
         
                <div class="advantages__item">
                    <div class="advantages__item-title">Быстрая дистрибуция
                    </div>
                    <div class="advantages__item-desc">Выгрузка вашего релиза на все цифровые площадки в течение 5 суток, в экстренных случаях в течение 1 дня.
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__item-title">Промо поддержка
                    </div>
                    <div class="advantages__item-desc">Направление на промо, благодаря чему, редакторы плейлистов могут добавить ваш релиз в плейлисты.
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__item-title">Бесплатная дистрибуция
                    </div>
                    <div class="advantages__item-desc">Доставляем музыкальный контент во все музыкальные сервисы абсолютно бесплатно.
                    </div>
                </div>
          
        </div>
    </div>
</section>