<section class="faq" id="faq">
    <div class="container faq__container">
        <div class="faq__inner">
            <div class="faq__title-box">
                <h2 class="faq__title">Часто задаваемые вопросы</h2>
            </div>

            <div class="faq__accordion-wrapper">
                <div class="faq__accordion">
                    <div class="faq__accordion-item">
                        <div class="faq__accordion-item-header">
                            <p class="faq__accordion-title title-h4">
                                Как приступить к работе с вами? Нужно ли заключать договор? Каковы юридические
                                и финансовые аспекты работы?
                            </p>
                            <button class="faq__accordion-svg-wrapper">
                                <div class="faq__accordion-svg-box">
                                    <svg
                                        width="20"
                                        height="12"
                                        viewBox="0 0 20 12"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.99994 11.7004C9.64151 11.7004 9.28311 11.5635 9.00983 11.2904L0.410283 2.69072C-0.136761 2.14368 -0.136761 1.25674 0.410283 0.709921C0.957105 0.163099 1.84387 0.163099 2.39095 0.709921L9.99994 8.31936L17.609 0.710187C18.156 0.163365 19.0427 0.163365 19.5895 0.710187C20.1368 1.25701 20.1368 2.14395 19.5895 2.69099L10.9901 11.2906C10.7166 11.5638 10.3583 11.7004 9.99994 11.7004Z"
                                            fill="white"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="faq__accordion-item-body">
                            <div class="faq__accordion-item-body-content text">
                                Со всеми партнёрами заключается лицензионный договор. Согласно этому договору,
                                наши партнёры несут юридическую ответственность за нарушение авторских прав и
                                должны предоставить правоподтверждающие документы на весь материал, который
                                передают нам. Правообладателям выплачивается суммы, полученные нами от
                                площадок за исключением комиссии за наши услуги. Размер нашей комиссии
                                согласовывается с каждым правообладателем отдельно.
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-item">
                        <div class="faq__accordion-item-header">
                            <p class="faq__accordion-title title-h4">
                                Как часто я буду получать отчет по использованию контента? Какую информацию он
                                содержит?
                            </p>
                            <button class="faq__accordion-svg-wrapper">
                                <div class="faq__accordion-svg-box">
                                    <svg
                                        width="20"
                                        height="12"
                                        viewBox="0 0 20 12"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.99994 11.7004C9.64151 11.7004 9.28311 11.5635 9.00983 11.2904L0.410283 2.69072C-0.136761 2.14368 -0.136761 1.25674 0.410283 0.709921C0.957105 0.163099 1.84387 0.163099 2.39095 0.709921L9.99994 8.31936L17.609 0.710187C18.156 0.163365 19.0427 0.163365 19.5895 0.710187C20.1368 1.25701 20.1368 2.14395 19.5895 2.69099L10.9901 11.2906C10.7166 11.5638 10.3583 11.7004 9.99994 11.7004Z"
                                            fill="white"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="faq__accordion-item-body">
                            <div class="faq__accordion-item-body-content text">
                                Один раз в квартал. Отчеты на направляем на почту mail.ru. В нем содержится
                                вся информация по стримам, продажам и полученных роялти.
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-item">
                        <div class="faq__accordion-item-header">
                            <p class="faq__accordion-title title-h4">
                                Сколько времени обычно занимает модерация?
                            </p>
                            <button class="faq__accordion-svg-wrapper">
                                                                <div class="faq__accordion-svg-box">
                                    <svg
                                        width="20"
                                        height="12"
                                        viewBox="0 0 20 12"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.99994 11.7004C9.64151 11.7004 9.28311 11.5635 9.00983 11.2904L0.410283 2.69072C-0.136761 2.14368 -0.136761 1.25674 0.410283 0.709921C0.957105 0.163099 1.84387 0.163099 2.39095 0.709921L9.99994 8.31936L17.609 0.710187C18.156 0.163365 19.0427 0.163365 19.5895 0.710187C20.1368 1.25701 20.1368 2.14395 19.5895 2.69099L10.9901 11.2906C10.7166 11.5638 10.3583 11.7004 9.99994 11.7004Z"
                                            fill="white"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="faq__accordion-item-body">
                            <div class="faq__accordion-item-body-content text">
                                Средний срок модерации составляет 2 рабочих дня.
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-item">
                        <div class="faq__accordion-item-header">
                            <p class="faq__accordion-title title-h4">
                                Как часто и на основании каких документов производится оплата?
                            </p>
                            <button class="faq__accordion-svg-wrapper">
                                                                <div class="faq__accordion-svg-box">
                                    <svg
                                        width="20"
                                        height="12"
                                        viewBox="0 0 20 12"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.99994 11.7004C9.64151 11.7004 9.28311 11.5635 9.00983 11.2904L0.410283 2.69072C-0.136761 2.14368 -0.136761 1.25674 0.410283 0.709921C0.957105 0.163099 1.84387 0.163099 2.39095 0.709921L9.99994 8.31936L17.609 0.710187C18.156 0.163365 19.0427 0.163365 19.5895 0.710187C20.1368 1.25701 20.1368 2.14395 19.5895 2.69099L10.9901 11.2906C10.7166 11.5638 10.3583 11.7004 9.99994 11.7004Z"
                                            fill="white"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="faq__accordion-item-body">
                            <div class="faq__accordion-item-body-content text">
                                На основании отчётов. Комиссия выплачивается один раза за квартал. Чтобы
                                перечислить деньги, нам понадобятся Счёт.
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-item">
                        <div class="faq__accordion-item-header">
                            <p class="faq__accordion-title title-h4">
                                Сколько у меня должно быть готовых треков, чтобы начать работать с AD SPACE?
                            </p>
                            <button class="faq__accordion-svg-wrapper">
                                                                <div class="faq__accordion-svg-box">
                                    <svg
                                        width="20"
                                        height="12"
                                        viewBox="0 0 20 12"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.99994 11.7004C9.64151 11.7004 9.28311 11.5635 9.00983 11.2904L0.410283 2.69072C-0.136761 2.14368 -0.136761 1.25674 0.410283 0.709921C0.957105 0.163099 1.84387 0.163099 2.39095 0.709921L9.99994 8.31936L17.609 0.710187C18.156 0.163365 19.0427 0.163365 19.5895 0.710187C20.1368 1.25701 20.1368 2.14395 19.5895 2.69099L10.9901 11.2906C10.7166 11.5638 10.3583 11.7004 9.99994 11.7004Z"
                                            fill="white"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="faq__accordion-item-body">
                            <div class="faq__accordion-item-body-content text">
                                Требований к минимальному количеству треков нет. В каждом конкретном случае мы
                                принимаем решение о сотрудничестве, опираясь на разные факторы.
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-item">
                        <div class="faq__accordion-item-header">
                            <p class="faq__accordion-title title-h4">Что такое исключительная лицензия?</p>
                            <button class="faq__accordion-svg-wrapper">
                                                                <div class="faq__accordion-svg-box">
                                    <svg
                                        width="20"
                                        height="12"
                                        viewBox="0 0 20 12"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.99994 11.7004C9.64151 11.7004 9.28311 11.5635 9.00983 11.2904L0.410283 2.69072C-0.136761 2.14368 -0.136761 1.25674 0.410283 0.709921C0.957105 0.163099 1.84387 0.163099 2.39095 0.709921L9.99994 8.31936L17.609 0.710187C18.156 0.163365 19.0427 0.163365 19.5895 0.710187C20.1368 1.25701 20.1368 2.14395 19.5895 2.69099L10.9901 11.2906C10.7166 11.5638 10.3583 11.7004 9.99994 11.7004Z"
                                            fill="white"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="faq__accordion-item-body">
                            <div class="faq__accordion-item-body-content text">
                                Исключительная лицензия предполагает, что за Вами, как Лицензиаром, не
                                сохраняется права выдачи лицензий другим лицам в отношении того контента и в
                                отношении тех способов использования, которые были предоставлены AD SPACE.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
