<section class="header-main">
    <div class="container header-main__container">
        <div class="header-main__inner">
            <h2 class="header-main__title title">
                AD <br />
                SPACE <span class="blue-text">LABEL</span>
            </h2>
            <p class="header-main__desc">
                Дистрибуция XXI века для лейблов и артистов. Хочешь чтобы тебя услышали? Тогда тебе к нам!
                Присылай демо и погнали в топы).
            </p>
            <div class="header-main__scrolled-wrapper">
                <div class="header-main__scrolled-img-box">
                    <img src="./assets/images/header-phone.png" alt="" class="header-main__scrolled-img">
                </div>
                
                <div class="header-main__scrolled">
                    <div class="header-main__scrolled-box">
                        <img src="./assets/images/header-bg.png" alt="" class="header-main__img" />
                    </div>
                    <div class="header-main__scrolled-box">
                        <img src="./assets/images/header-bg.png" alt="" class="header-main__img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
