<section class="release" id="release">
    <div class="container release__container">
        <div class="release__inner">
            <div class="release__title-box">
                <h2 class="release__title">Релизы</h2>
            </div>
            <div class="release__swiper-nav-box">
            <div class="release__swiper-nav-btn release__swiper-nav-btn--prev swiper-button-prev">
                    <svg
                        width="34"
                        height="24"
                        viewBox="0 0 34 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M32.1114 10.3119H5.82842L11.2014 4.82191C11.4987 4.50715 11.663 4.0859 11.6586 3.6489C11.6543 3.21189 11.4818 2.7941 11.1783 2.48551C10.8748 2.17692 10.4646 2.00223 10.0359 1.99907C9.60733 1.9959 9.19465 2.16451 8.88678 2.46858L0.730053 10.8019C0.425107 11.1143 0.253906 11.537 0.253906 11.9777C0.253906 12.4185 0.425107 12.8412 0.730053 13.1536L8.88842 21.5302C9.19405 21.8439 9.60936 22.0208 10.043 22.0223C10.4766 22.0237 10.893 21.8494 11.2006 21.5377C11.5082 21.2261 11.6817 20.8027 11.6831 20.3606C11.6845 19.9184 11.5136 19.4939 11.2079 19.1803L5.81371 13.6452H32.1114C32.5449 13.6452 32.9607 13.4697 33.2672 13.1571C33.5738 12.8445 33.746 12.4206 33.746 11.9786C33.746 11.5366 33.5738 11.1126 33.2672 10.8001C32.9607 10.4875 32.5449 10.3119 32.1114 10.3119Z"
                            fill="#339beb"
                        />
                    </svg>
                </div>
                <div class=" release__swiper-nav-btn release__swiper-nav-btn--next swiper-button-next">
                    <svg
                        width="34"
                        height="21"
                        viewBox="0 0 34 21"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1.8886 8.31192H28.1716L22.7986 2.82191C22.5013 2.50715 22.337 2.0859 22.3414 1.6489C22.3457 1.21189 22.5182 0.794101 22.8217 0.485513C23.1252 0.176925 23.5354 0.00223404 23.9641 -0.000932748C24.3927 -0.00409954 24.8054 0.164511 25.1132 0.468582L33.2699 8.80192C33.5749 9.11425 33.7461 9.53703 33.7461 9.97775C33.7461 10.4185 33.5749 10.8412 33.2699 11.1536L25.1116 19.5302C24.8059 19.8439 24.3906 20.0208 23.957 20.0223C23.5234 20.0237 23.107 19.8494 22.7994 19.5377C22.4918 19.2261 22.3183 18.8027 22.3169 18.3606C22.3155 17.9184 22.4864 17.4939 22.7921 17.1803L28.1863 11.6452H1.8886C1.45507 11.6452 1.03931 11.4697 0.732758 11.1571C0.426205 10.8445 0.253986 10.4206 0.253986 9.97858C0.253986 9.53655 0.426205 9.11263 0.732758 8.80007C1.03931 8.48751 1.45507 8.31192 1.8886 8.31192Z"
                            fill="#339beb"
                        />
                    </svg>
                </div>
            </div>
            <div class="release__swiper swiper">
                <div class="release__swiper-wrapper swiper-wrapper">
                    <div class="release__swiper-slide swiper-slide">
                        <div class="release__swiper-img-box">
                            <img src="./assets/images/release-img1.png" alt="" class="release__swiper-img" />
                        </div>
                    </div>
                    <div class="release__swiper-slide swiper-slide">
                        <div class="release__swiper-img-box">
                            <img src="./assets/images/release-img2.png" alt="" class="release__swiper-img" />
                        </div>
                    </div>
                    <div class="release__swiper-slide swiper-slide">
                        <div class="release__swiper-img-box">
                            <img src="./assets/images/release-img3.png" alt="" class="release__swiper-img" />
                        </div>
                    </div>
                    <div class="release__swiper-slide swiper-slide">
                        <div class="release__swiper-img-box">
                            <img src="./assets/images/release-img4.png" alt="" class="release__swiper-img" />
                        </div>
                    </div>
                    <div class="release__swiper-slide swiper-slide">
                        <div class="release__swiper-img-box">
                            <img src="./assets/images/release-img5.png" alt="" class="release__swiper-img" />
                        </div>
                    </div>
                    <div class="release__swiper-slide swiper-slide">
                        <div class="release__swiper-img-box">
                            <img src="./assets/images/release-img6.png" alt="" class="release__swiper-img" />
                        </div>
                    </div>
                    <div class="release__swiper-slide swiper-slide">
                        <div class="release__swiper-img-box">
                            <img src="./assets/images/release-img7.png" alt="" class="release__swiper-img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
